<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Promise</title>
    </head>
    <body>
        <p><a href="../index.html">На главную</a></p>
        <!-- Task-01 -->
        <script type="module" src="../js/promise-01.js"></script>

        <!-- Task-02 -->
        <script type="module" src="../js/promise-02.js"></script>

        <!-- Task-03 -->
        <script type="module" src="../js/promise-03.js"></script>
    </body>
</html>